.v-chip__content {
    max-width: 95% !important;
    height: auto;
    min-height: 32px;
    white-space: inherit;
}
.chip-content {
    max-width: 99%;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
